#plansza {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 100px);
    width: 320px;
    height: 320px;

    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#msg {
    position: absolute;
    top: 25%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.empty {
    background: #ADD8E6;
    border-radius: 20px;
    width: 100px;
    height: 100px;

}

.empty:hover {
    background: #7a96a0;
}

.taken {
    background: #ADD8E6;
    border-radius: 20px;
    width: 100px;
    height: 100px;

}


.circle {
    height: 66px;
    width: 66px;
    border: 10px solid black;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.cross {
    position: relative;

  }

.cross:after, .cross:before {
    background: rgb(0, 0, 0);
    content: "";
    height: 100px;
    width: 10px;
    position: absolute;
    top: 45%;
    left: 45%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.cross:before {
  transform: rotate(45deg);
}
.cross:after {
  transform: rotate(-45deg);
}
