#plansza {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 100px);
    width: 320px;
    height: 320px;

    padding: 10px;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.pole {
    background: #ADD8E6;
    border-radius: 20px;

}

.pole:hover {
    background: #7a96a0;
}