#plansza {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 100px);
    width: 320px;
    height: 320px;

    padding: 10px;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.empty {
    background: #ADD8E6;
    border-radius: 20px;
    width: 100px;
    height: 100px;

}

.empty:hover {
    background: #7a96a0;
}

.taken {
    background: #ADD8E6;
    border-radius: 20px;
    width: 100px;
    height: 100px;

}


.circle {
    height: 50px;
    width: 50px;
    border: 10px solid black;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.cross {
    background: rgb(0, 0, 0);
    height: 100px;
    position: relative;
    width: 20px;
  }

.cross:after {
    background: rgb(0, 0, 0);
    content: "";
    height: 20px;
    left: -40px;
    position: absolute;
    top: 40px;
    width: 100px;
  }